<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body{
		background-color: #638CB8;
	}

    .center-column{
		width:400px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

    .btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
    .col-12{
        margin-top: 5px;
    }
</style>

<div class="center-column">
    <p>Are you sure you want to delete "{{item}}"?</p>
    <a href="{% url 'list' %}" class="btn btn-info col-12">Cancel</a>
    
    <form method="POST" action="">
        {% csrf_token %}
        <input class="btn btn-sm btn-danger col-12 "  type="submit" name="Comfirm" value="Confirm">
    </form>
</div>
